body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding:0;
  background-color: grey!important;
  box-sizing: border-box;
}
#mover{
  -webkit-app-region:drag;
}

body::-webkit-scrollbar {
  display: none;
  width: 12px;               /* width of the entire scrollbar */
}
.hide{
  display: none;
}
.show{
  display: block;
}
.conteudo{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#canva{
  display: none;
}

#foto{
  height: 480px;
  width: 640px;
  background-color: blueviolet;
}